In [1]:
import pandas as pd
import re 
import numpy as np
from nltk.corpus import stopwords

In [2]:
df=pd.read_csv(r"C:\Users\aksha\Downloads\all_kindle_review.csv")
df

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000
...,...,...,...,...,...,...,...,...,...,...,...
11995,11995,2183,B001DUGORO,"[0, 0]",4,Valentine cupid is a vampire- Jena and Ian ano...,"02 28, 2014",A1OKS5Q1HD8WQC,lisa jon jung,jena,1393545600
11996,11996,6272,B002JCSFSQ,"[2, 2]",5,I have read all seven books in this series. Ap...,"05 16, 2011",AQRSPXLNEQAMA,TerryLP,Peacekeepers Series,1305504000
11997,11997,12483,B0035N1V7K,"[0, 1]",3,This book really just wasn't my cuppa. The si...,"07 26, 2013",A2T5QLT5VXOJAK,hwilson,a little creepy,1374796800
11998,11998,3640,B001W1XT40,"[1, 2]",1,"tried to use it to charge my kindle, it didn't...","09 17, 2013",A28MHD2DDY6DXB,"Allison A. Slater ""Gryphon50""",didn't work,1379376000
11999,11999,11398,B003370JUS,"[5, 6]",3,Taking Instruction is a look into the often hi...,"07 5, 2012",A3JUXLB4K9ZXCC,Dafna Yee,"If you like BDSM with a touch of romance, this...",1341446400

In [3]:
newdf=df[['reviewText','rating']]
newdf

                                              reviewText  rating
0      Jace Rankin may be short, but he's nothing to ...       3
1      Great short read.  I didn't want to put it dow...       5
2      I'll start by saying this is the first of four...       3
3      Aggie is Angela Lansbury who carries pocketboo...       3
4      I did not expect this type of book to be in li...       4
...                                                  ...     ...
11995  Valentine cupid is a vampire- Jena and Ian ano...       4
11996  I have read all seven books in this series. Ap...       5
11997  This book really just wasn't my cuppa.  The si...       3
11998  tried to use it to charge my kindle, it didn't...       1
11999  Taking Instruction is a look into the often hi...       3

[12000 rows x 2 columns]

In [4]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reviewText  12000 non-null  object
 1   rating      12000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 187.6+ KB

In [5]:
newdf.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [6]:
newdf.duplicated().sum()

0

In [7]:
newdf['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [8]:
newdf['rating'].value_counts()

5    3000
4    3000
3    2000
2    2000
1    2000
Name: rating, dtype: int64

In [9]:
newdf['reviewText']

0        Jace Rankin may be short, but he's nothing to ...
1        Great short read.  I didn't want to put it dow...
2        I'll start by saying this is the first of four...
3        Aggie is Angela Lansbury who carries pocketboo...
4        I did not expect this type of book to be in li...
                               ...
11995    Valentine cupid is a vampire- Jena and Ian ano...
11996    I have read all seven books in this series. Ap...
11997    This book really just wasn't my cuppa.  The si...
11998    tried to use it to charge my kindle, it didn't...
11999    Taking Instruction is a look into the often hi...
Name: reviewText, Length: 12000, dtype: object

In [10]:
newdf['rating']=newdf['rating'].apply(lambda x:0 if x<3 else 1)

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\2439304314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['rating']=newdf['rating'].apply(lambda x:0 if x<3 else 1)

In [11]:
newdf

                                              reviewText  rating
0      Jace Rankin may be short, but he's nothing to ...       1
1      Great short read.  I didn't want to put it dow...       1
2      I'll start by saying this is the first of four...       1
3      Aggie is Angela Lansbury who carries pocketboo...       1
4      I did not expect this type of book to be in li...       1
...                                                  ...     ...
11995  Valentine cupid is a vampire- Jena and Ian ano...       1
11996  I have read all seven books in this series. Ap...       1
11997  This book really just wasn't my cuppa.  The si...       1
11998  tried to use it to charge my kindle, it didn't...       0
11999  Taking Instruction is a look into the often hi...       1

[12000 rows x 2 columns]

In [12]:
newdf['rating'].value_counts()

1    8000
0    4000
Name: rating, dtype: int64

In [13]:
newdf['reviewText']=[x.lower() for x in newdf['reviewText']]

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\2821446054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['reviewText']=[x.lower() for x in newdf['reviewText']]

In [14]:
newdf

                                              reviewText  rating
0      jace rankin may be short, but he's nothing to ...       1
1      great short read.  i didn't want to put it dow...       1
2      i'll start by saying this is the first of four...       1
3      aggie is angela lansbury who carries pocketboo...       1
4      i did not expect this type of book to be in li...       1
...                                                  ...     ...
11995  valentine cupid is a vampire- jena and ian ano...       1
11996  i have read all seven books in this series. ap...       1
11997  this book really just wasn't my cuppa.  the si...       1
11998  tried to use it to charge my kindle, it didn't...       0
11999  taking instruction is a look into the often hi...       1

[12000 rows x 2 columns]

In [15]:
newdf['reviewText']=newdf['reviewText'].apply(lambda x:re.sub('[^a-zA-Z]',' ',x))

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\400656872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['reviewText']=newdf['reviewText'].apply(lambda x:re.sub('[^a-zA-Z]',' ',x))

In [16]:
newdf

                                              reviewText  rating
0      jace rankin may be short  but he s nothing to ...       1
1      great short read   i didn t want to put it dow...       1
2      i ll start by saying this is the first of four...       1
3      aggie is angela lansbury who carries pocketboo...       1
4      i did not expect this type of book to be in li...       1
...                                                  ...     ...
11995  valentine cupid is a vampire  jena and ian ano...       1
11996  i have read all seven books in this series  ap...       1
11997  this book really just wasn t my cuppa   the si...       1
11998  tried to use it to charge my kindle  it didn t...       0
11999  taking instruction is a look into the often hi...       1

[12000 rows x 2 columns]

In [17]:
stopwords=stopwords.words('english')

In [18]:
newdf['reviewText']=newdf['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords]))

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\2485679009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['reviewText']=newdf['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords]))

In [19]:
newdf

                                              reviewText  rating
0      jace rankin may short nothing mess man hauled ...       1
1      great short read want put read one sitting sex...       1
2      start saying first four books expecting conclu...       1
3      aggie angela lansbury carries pocketbooks inst...       1
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire jena ian another vampi...       1
11996  read seven books series apocalyptic adventure ...       1
11997  book really cuppa situation man capturing woma...       1
11998  tried use charge kindle even register charging...       0
11999  taking instruction look often hidden world sex...       1

[12000 rows x 2 columns]

In [20]:
newdf['reviewText']=newdf['reviewText'].apply(lambda x: re.sub(r'https?://\S+|www\.\S+',' ',x))

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\3007338733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['reviewText']=newdf['reviewText'].apply(lambda x: re.sub(r'https?://\S+|www\.\S+',' ',x))

In [21]:
newdf

                                              reviewText  rating
0      jace rankin may short nothing mess man hauled ...       1
1      great short read want put read one sitting sex...       1
2      start saying first four books expecting conclu...       1
3      aggie angela lansbury carries pocketbooks inst...       1
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire jena ian another vampi...       1
11996  read seven books series apocalyptic adventure ...       1
11997  book really cuppa situation man capturing woma...       1
11998  tried use charge kindle even register charging...       0
11999  taking instruction look often hidden world sex...       1

[12000 rows x 2 columns]

In [22]:
newdf['reviewText']=newdf['reviewText'].apply(lambda x: " ".join(x.split()))

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\1877570522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['reviewText']=newdf['reviewText'].apply(lambda x: " ".join(x.split()))

In [23]:
newdf

                                              reviewText  rating
0      jace rankin may short nothing mess man hauled ...       1
1      great short read want put read one sitting sex...       1
2      start saying first four books expecting conclu...       1
3      aggie angela lansbury carries pocketbooks inst...       1
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire jena ian another vampi...       1
11996  read seven books series apocalyptic adventure ...       1
11997  book really cuppa situation man capturing woma...       1
11998  tried use charge kindle even register charging...       0
11999  taking instruction look often hidden world sex...       1

[12000 rows x 2 columns]

In [24]:
from nltk.stem import WordNetLemmatizer

In [25]:
lemm=WordNetLemmatizer()

In [26]:
newdf['reviewText']=newdf['reviewText'].apply(lambda x :' '.join(lemm.lemmatize(y) for y in x.split()))

C:\Users\aksha\AppData\Local\Temp\ipykernel_16644\3680779667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['reviewText']=newdf['reviewText'].apply(lambda x :' '.join(lemm.lemmatize(y) for y in x.split()))

In [28]:
newdf

                                              reviewText  rating
0      jace rankin may short nothing mess man hauled ...       1
1      great short read want put read one sitting sex...       1
2      start saying first four book expecting conclud...       1
3      aggie angela lansbury carry pocketbook instead...       1
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire jena ian another vampi...       1
11996  read seven book series apocalyptic adventure o...       1
11997  book really cuppa situation man capturing woma...       1
11998  tried use charge kindle even register charging...       0
11999  taking instruction look often hidden world sex...       1

[12000 rows x 2 columns]

In [39]:
import gensim
from gensim.models import Word2Vec,keyedvectors

In [44]:
corpus=[x.split() for x in newdf['reviewText'].values]

In [52]:
corpus[2]

['start',
 'saying',
 'first',
 'four',
 'book',
 'expecting',
 'conclude',
 'center',
 'child',
 'alex',
 'younger',
 'brother',
 'argus',
 'alex',
 'friend',
 'sapphire',
 'find',
 'name',
 'bus',
 'map',
 'find',
 'mystery',
 'start',
 'well',
 'written',
 'good',
 'character',
 'development',
 'although',
 'lot',
 'room',
 'still',
 'quite',
 'short',
 'book',
 'moving',
 'onto',
 'book',
 'swiftly']

In [53]:
len(corpus)

12000

In [46]:
model=gensim.models.Word2Vec(corpus)

In [47]:
model.wv.index_to_key

['book',
 'story',
 'read',
 'one',
 'character',
 'like',
 'good',
 'would',
 'love',
 'really',
 'time',
 'get',
 'author',
 'series',
 'well',
 'reading',
 'much',
 'first',
 'even',
 'short',
 'way',
 'great',
 'could',
 'know',
 'sex',
 'make',
 'little',
 'two',
 'thing',
 'want',
 'plot',
 'think',
 'romance',
 'also',
 'find',
 'end',
 'life',
 'see',
 'scene',
 'go',
 'enjoyed',
 'never',
 'written',
 'woman',
 'take',
 'kindle',
 'many',
 'lot',
 'year',
 'work',
 'say',
 'thought',
 'interesting',
 'bit',
 'going',
 'found',
 'novel',
 'writing',
 'give',
 'another',
 'liked',
 'loved',
 'better',
 'man',
 'hot',
 'star',
 'feel',
 'got',
 'come',
 'review',
 'still',
 'though',
 'back',
 'reader',
 'enough',
 'people',
 'friend',
 'something',
 'made',
 'page',
 'part',
 'world',
 'bad',
 'free',
 'need',
 'keep',
 'new',
 'relationship',
 'enjoy',
 'together',
 'next',
 'recommend',
 'start',
 'felt',
 'best',
 'word',
 'put',
 'guy',
 'main',
 'however',
 'day',
 'looking',
 'long',
 'line',
 'fun',
 'since',
 'hard',
 'right',
 'real',
 'point',
 'ending',
 'family',
 'sure',
 'different',
 'without',
 'nothing',
 'wanted',
 'hero',
 'ever',
 'every',
 'old',
 'action',
 'anything',
 'always',
 'men',
 'definitely',
 'heroine',
 'look',
 'help',
 'worth',
 'actually',
 'three',
 'let',
 'place',
 'fact',
 'pretty',
 'problem',
 'around',
 'quite',
 'left',
 'whole',
 'feeling',
 'idea',
 'second',
 'away',
 'sexy',
 'vampire',
 'brother',
 'nice',
 'seemed',
 'try',
 'tell',
 'mystery',
 'might',
 'kind',
 'someone',
 'getting',
 'chapter',
 'novella',
 'done',
 'far',
 'issue',
 'started',
 'may',
 'almost',
 'turn',
 'yet',
 'tale',
 'set',
 'girl',
 'couple',
 'mind',
 'maybe',
 'seems',
 'kept',
 'reason',
 'everything',
 'past',
 'last',
 'quick',
 'full',
 'beginning',
 'said',
 'writer',
 'mate',
 'wish',
 'finish',
 'trying',
 'fantasy',
 'night',
 'strong',
 'description',
 'hope',
 'others',
 'father',
 'job',
 'must',
 'development',
 'believe',
 'meet',
 'least',
 'human',
 'erotic',
 'sweet',
 'fast',
 'fan',
 'although',
 'anyone',
 'happy',
 'home',
 'mean',
 'care',
 'easy',
 'u',
 'overall',
 'especially',
 'able',
 'money',
 'child',
 'big',
 'buy',
 'understand',
 'person',
 'young',
 'forward',
 'show',
 'detail',
 'disappointed',
 'storyline',
 'heart',
 'sexual',
 'style',
 'used',
 'went',
 'probably',
 'took',
 'high',
 'sense',
 'wait',
 'favorite',
 'true',
 'gave',
 'type',
 'write',
 'seem',
 'interest',
 'instead',
 'else',
 'case',
 'le',
 'wrong',
 'along',
 'rather',
 'price',
 'use',
 'longer',
 'rest',
 'male',
 'wonderful',
 'several',
 'lost',
 'given',
 'ok',
 'told',
 'change',
 'twist',
 'female',
 'side',
 'm',
 'either',
 'cover',
 'came',
 'half',
 'fall',
 'developed',
 'error',
 'finally',
 'stop',
 'knew',
 'later',
 'alpha',
 'perfect',
 'husband',
 'enjoyable',
 'completely',
 'name',
 'light',
 'glad',
 'course',
 'lead',
 'happened',
 'future',
 'order',
 'making',
 'fiction',
 'wolf',
 'happens',
 'quickly',
 'okay',
 'amazon',
 'wife',
 'everyone',
 'boring',
 'eye',
 'interested',
 'waste',
 'situation',
 'happen',
 'h',
 'lover',
 'yes',
 'attention',
 'believable',
 'premise',
 'already',
 'bought',
 'needed',
 'finished',
 'sister',
 'length',
 'steamy',
 'become',
 'boy',
 'highly',
 'mother',
 'follow',
 'town',
 'moment',
 'chance',
 'entire',
 'title',
 'funny',
 'truly',
 'genre',
 'head',
 'school',
 'werewolf',
 'sometimes',
 'ended',
 'dialogue',
 'guess',
 'dark',
 'thinking',
 'paranormal',
 'sorry',
 'hand',
 'move',
 'call',
 'leave',
 'live',
 'editing',
 'stand',
 'entertaining',
 'oh',
 'run',
 'totally',
 'house',
 'version',
 'sort',
 'age',
 'spoiler',
 'romantic',
 'pick',
 'war',
 'self',
 'lack',
 'coming',
 'depth',
 'language',
 'deal',
 'alone',
 'erotica',
 'add',
 'experience',
 'secret',
 'unfortunately',
 'ago',
 'reviewer',
 'soon',
 'month',
 'pack',
 'turned',
 'usually',
 'begin',
 'dream',
 'expected',
 'potential',
 'matter',
 'expect',
 'giving',
 'opinion',
 'save',
 'throughout',
 'rating',
 'adult',
 'figure',
 'hour',
 'gay',
 'death',
 'top',
 'wanting',
 'adventure',
 'absolutely',
 'simply',
 'third',
 'collection',
 'poor',
 'often',
 'shifter',
 'decided',
 'emotion',
 'history',
 'face',
 'difficult',
 'called',
 'small',
 'humor',
 'setting',
 'hate',
 'certainly',
 'excellent',
 'four',
 'movie',
 'perhaps',
 'event',
 'suspense',
 'easily',
 'bed',
 'slow',
 'talk',
 'five',
 'hold',
 'missing',
 'spent',
 'dragon',
 'supposed',
 'stay',
 'complete',
 'sentence',
 'list',
 'learn',
 'minute',
 'play',
 'attraction',
 'break',
 'soul',
 'across',
 'continue',
 'group',
 'killer',
 'marriage',
 'fight',
 'cute',
 'god',
 'information',
 'plan',
 'week',
 'tried',
 'based',
 'living',
 'power',
 'beautiful',
 'question',
 'finding',
 'background',
 'kid',
 'pay',
 'taking',
 'kill',
 'mr',
 'murder',
 'married',
 'daughter',
 'realize',
 'involved',
 'middle',
 'surprise',
 'stuff',
 'body',
 'etc',
 'ex',
 'remember',
 'predictable',
 'son',
 'known',
 'alex',
 'seriously',
 'extremely',
 'heat',
 'example',
 'within',
 'seen',
 'behind',
 'surprised',
 'level',
 'content',
 'beyond',
 'magic',
 'amazing',
 'waiting',
 'desire',
 'mistake',
 'met',
 'lady',
 'business',
 'form',
 'concept',
 'aspect',
 'trouble',
 'became',
 'choice',
 'note',
 'editor',
 'saying',
 'emotional',
 'immediately',
 'fit',
 'close',
 'room',
 'james',
 'force',
 'view',
 'check',
 'loving',
 'early',
 'e',
 'hunter',
 'working',
 'science',
 'building',
 'mark',
 'number',
 'christmas',
 'ability',
 'downloaded',
 'chemistry',
 'due',
 'exactly',
 'saw',
 'original',
 'seeing',
 'fell',
 'reviewed',
 'open',
 'connection',
 'important',
 'dead',
 'admit',
 'drawn',
 'picture',
 'taken',
 'despite',
 'annoying',
 'bring',
 'sequel',
 'share',
 'huge',
 'brought',
 'cannot',
 'demon',
 'wonder',
 'willing',
 'partner',
 'clear',
 'becomes',
 'paid',
 'leaf',
 'hoping',
 'fine',
 'forced',
 'somewhat',
 'special',
 'realistic',
 'return',
 'simple',
 'ready',
 'black',
 'space',
 'f',
 'previous',
 'tension',
 'conflict',
 'present',
 'offer',
 'earth',
 'bdsm',
 'older',
 'evil',
 'expecting',
 'weak',
 'hurt',
 'quality',
 'taste',
 'filled',
 'please',
 'unique',
 'bother',
 'trust',
 'mostly',
 'hell',
 'paced',
 'personal',
 'build',
 'piece',
 'element',
 'using',
 'serial',
 'except',
 'download',
 'fairy',
 'spend',
 'basically',
 'christian',
 'mention',
 'control',
 'telling',
 'boyfriend',
 'passion',
 'caught',
 'decent',
 'act',
 'graphic',
 'anyway',
 'decides',
 'plus',
 'serious',
 'none',
 'published',
 'grammar',
 'rushed',
 'mentioned',
 'strange',
 'fi',
 'stupid',
 'described',
 'classic',
 'paragraph',
 'sci',
 'kate',
 'super',
 'fairly',
 'horror',
 'flow',
 'zombie',
 'date',
 'worked',
 'car',
 'crazy',
 'picked',
 'upon',
 'certain',
 'straight',
 'honest',
 'agree',
 'non',
 'menage',
 'drama',
 'writes',
 'thriller',
 'paper',
 'exciting',
 'lose',
 'buying',
 'gone',
 'fear',
 'touch',
 'step',
 'police',
 'sad',
 'parent',
 'law',
 'single',
 'typo',
 'ghost',
 'alien',
 'blog',
 'blake',
 'thank',
 'cat',
 'recommended',
 'game',
 'blood',
 'historical',
 'major',
 'amount',
 'king',
 'knowing',
 'available',
 'nature',
 'confusing',
 'baby',
 'honestly',
 'copy',
 'jane',
 'wrote',
 'personality',
 'thoroughly',
 'including',
 'master',
 'john',
 'theme',
 'purchase',
 'neither',
 'term',
 'intriguing',
 'club',
 'angel',
 'sound',
 'marry',
 'promise',
 'purchased',
 'particularly',
 'flat',
 'knight',
 'normally',
 'protagonist',
 'accept',
 'unless',
 'attempt',
 'thrown',
 'miss',
 'hit',
 'awesome',
 'whether',
 'talking',
 'poorly',
 'added',
 'meeting',
 'worst',
 'encounter',
 'edition',
 'fully',
 'held',
 'max',
 'wedding',
 'determined',
 'trilogy',
 'sample',
 'possible',
 'pas',
 'deep',
 'horrible',
 'basic',
 'moving',
 'animal',
 'eacute',
 'decision',
 'struggle',
 'imagine',
 'lord',
 'ridiculous',
 'typical',
 'kelly',
 'near',
 'hooked',
 'introduced',
 'modern',
 'suddenly',
 'effort',
 'joyfully',
 'fighting',
 'silly',
 'cut',
 'fantastic',
 'wow',
 'focus',
 'otherwise',
 'reality',
 'comment',
 'cause',
 'actual',
 'develop',
 'unbelievable',
 'escape',
 'rape',
 'stopped',
 'truth',
 'th',
 'jake',
 'interaction',
 'pace',
 'prequel',
 'voice',
 'happily',
 'edge',
 'emma',
 'belief',
 'leaving',
 'fire',
 'apparently',
 'lust',
 'area',
 'pleasure',
 'changed',
 'odd',
 'conversation',
 'american',
 'worse',
 'running',
 'confused',
 'detective',
 'realized',
 'moved',
 'danger',
 'simon',
 'difference',
 'created',
 'protect',
 'hea',
 'period',
 'article',
 'engaging',
 'watching',
 'turning',
 'subject',
 'yeah',
 'english',
 'plenty',
 'st',
 'jump',
 'west',
 'disappointing',
 'city',
 'missed',
 'slave',
 'land',
 'satisfying',
 'consider',
 'jack',
 'pain',
 'warning',
 'kaylee',
 'rich',
 'particular',
 'today',
 'laugh',
 'cop',
 'weird',
 'door',
 'pull',
 'decide',
 'violence',
 'conclusion',
 'battle',
 'company',
 'crime',
 'looked',
 'lacking',
 'society',
 'formatting',
 'familiar',
 'journey',
 'late',
 'afraid',
 'red',
 'wondering',
 'party',
 'answer',
 'j',
 'skip',
 'reference',
 'nearly',
 'location',
 'explanation',
 'beauty',
 'ebook',
 'apart',
 'doubt',
 'falling',
 'literally',
 'race',
 'state',
 'throw',
 'product',
 'forever',
 'draw',
 'eventually',
 'ask',
 'obviously',
 'included',
 'news',
 'terrible',
 'normal',
 'imagination',
 'bored',
 'grab',
 'owner',
 'ship',
 'magazine',
 'appreciate',
 'explicit',
 'installment',
 'final',
 'witch',
 'inside',
 'us',
 'killed',
 'putting',
 'keeping',
 'solid',
 'speak',
 'likable',
 'starting',
 'similar',
 'role',
 'cold',
 'brings',
 'bell',
 'killing',
 'trip',
 'b',
 'result',
 'holly',
 'heavy',
 'towards',
 'outside',
 'wild',
 'adam',
 'team',
 'low',
 'happening',
 'teen',
 'win',
 'research',
 'college',
 'member',
 'mysterious',
 'current',
 'aside',
 'obvious',
 'rough',
 'smart',
 'meant',
 'section',
 'ride',
 'lie',
 'verne',
 'purpose',
 'realizes',
 'claim',
 'barely',
 'lived',
 'bond',
 'physical',
 'travel',
 'attracted',
 'following',
 'introduction',
 'cousin',
 'nick',
 'white',
 'detailed',
 'military',
 'complaint',
 'friendship',
 'country',
 'intense',
 'received',
 'enjoying',
 'letter',
 'cry',
 'victim',
 'nicely',
 'tired',
 'explained',
 'freebie',
 'usual',
 'cole',
 'front',
 'format',
 'rate',
 'awful',
 'spelling',
 'survive',
 'walk',
 'continues',
 'island',
 'cowboy',
 'henry',
 'constantly',
 'watch',
 'bar',
 'younger',
 'incredibly',
 'catch',
 'mistress',
 'dog',
 'powerful',
 'count',
 'personally',
 'describe',
 'robyn',
 'sounded',
 'creature',
 'appears',
 'suggest',
 'clearly',
 'memory',
 'ryan',
 'magical',
 ...]

In [48]:
model.wv.most_similar('hi')

[('goodbye', 0.9773606061935425),
 ('shocked', 0.9759849905967712),
 ('whenever', 0.9725853800773621),
 ('gosh', 0.971737802028656),
 ('twice', 0.9704851508140564),
 ('hello', 0.9690552353858948),
 ('load', 0.9669899344444275),
 ('disgusting', 0.966912031173706),
 ('fooled', 0.9666743874549866),
 ('marked', 0.9665001034736633)]

In [58]:
# average word2vec
def avg_word2vec(doc):
    valid_words=[model.wv[word] for word in doc if word in model.wv.key_to_index ]
    if valid_words:
        return np.mean(valid_words,axis=0)
    else:
        # Return a zero vector if no valid words are found
        return np.zeros(model.wv.vector_size)

In [59]:
x=[]
for i in range(len(corpus)):
    x.append(avg_word2vec(corpus[i]))

In [63]:
x_df=pd.DataFrame(x)

In [64]:
x_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.187601,0.488329,0.105733,-0.010120,0.113262,-0.375851,0.190054,0.702537,-0.217557,-0.282993,...,0.507107,0.033074,0.079385,-0.011381,0.586633,0.363442,0.155925,-0.208361,-0.056512,0.077384
1,-0.266342,0.368147,-0.048867,0.288567,-0.132326,-0.432167,0.295484,0.761953,-0.466535,-0.247936,...,0.731279,-0.043920,0.198971,-0.032494,0.686066,0.358467,0.268666,-0.265547,-0.119867,-0.014793
2,-0.240171,0.497436,-0.070508,0.127982,0.039733,-0.513226,0.204158,0.723051,-0.261735,-0.148107,...,0.575769,0.053775,0.273726,-0.007149,0.610380,0.195176,0.156174,-0.181976,-0.059767,0.115532
3,-0.167031,0.414066,-0.107031,0.166184,0.143308,-0.557300,0.353295,0.742532,-0.158663,-0.208368,...,0.390698,-0.029198,0.195008,-0.021173,0.509960,-0.095920,0.183926,-0.009326,-0.124880,0.142887
4,-0.081210,0.284755,0.110544,-0.029319,-0.011647,-0.593719,0.099712,0.633260,-0.213855,-0.293107,...,0.782152,0.425385,0.284177,-0.278959,0.589798,0.348630,0.181484,-0.115506,0.219759,0.132664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,-0.738496,0.721673,0.108517,0.130935,-0.183875,-0.205455,-0.094735,0.528246,-0.243236,-0.115254,...,0.564729,-0.000675,0.433318,0.028934,0.541496,0.664751,0.369160,-0.235041,0.065964,-0.061237
11996,-0.362189,0.280597,-0.065781,0.171844,-0.195421,-0.671836,0.097519,0.551815,-0.256572,-0.226669,...,0.772534,0.172490,0.393891,-0.090337,0.451753,0.216977,0.301089,-0.053248,-0.085454,0.152317
11997,-0.416175,0.300344,0.006099,0.211335,-0.052111,-0.394981,0.287483,0.800822,-0.476528,-0.324527,...,0.449917,-0.148763,0.032927,0.050098,0.636969,0.368370,0.239066,-0.400082,-0.040212,-0.011794
11998,0.258672,0.486384,0.117804,-0.263292,0.449312,-0.490289,0.256779,0.729853,-0.070506,-0.093626,...,0.813117,0.350252,-0.019850,-0.066653,0.545401,0.457749,0.120511,-0.234194,0.121362,0.242800
11999,-0.102659,0.310223,0.033087,0.149886,0.083016,-0.549425,0.354038,0.790725,-0.268466,-0.346207,...,0.534018,-0.043155,0.055334,0.034407,0.545549,0.187953,0.122386,-0.286020,-0.127473,0.069380

In [68]:
newdf

                                              reviewText  rating
0      jace rankin may short nothing mess man hauled ...       1
1      great short read want put read one sitting sex...       1
2      start saying first four book expecting conclud...       1
3      aggie angela lansbury carry pocketbook instead...       1
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire jena ian another vampi...       1
11996  read seven book series apocalyptic adventure o...       1
11997  book really cuppa situation man capturing woma...       1
11998  tried use charge kindle even register charging...       0
11999  taking instruction look often hidden world sex...       1

[12000 rows x 2 columns]

In [67]:
from sklearn.model_selection import train_test_split

In [70]:
xtrain,xtest,ytrain,ytest=train_test_split(x_df,newdf['rating'],train_size=0.8)

In [77]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(9600, 100)
(2400, 100)
(9600,)
(2400,)

In [82]:
xtrain

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
6614,-0.195358,0.436523,-0.000188,0.109852,0.135951,-0.479459,0.205218,0.749723,-0.176835,-0.232302,...,0.510806,0.128891,0.297833,0.054391,0.579521,0.093579,0.130313,-0.097358,-0.230702,0.079344
7899,0.075051,0.283232,-0.036748,0.092487,0.096391,-0.580433,0.375393,0.733307,-0.306471,-0.343209,...,0.740699,0.261037,0.136592,-0.153501,0.627514,0.126493,0.071951,-0.285322,0.005390,0.159684
10175,-0.197626,0.267626,0.076859,0.505880,-0.243383,-0.466768,0.173431,0.621247,-0.695348,-0.127586,...,0.722097,0.333177,0.509119,-0.237113,0.691434,0.183903,0.213080,0.046644,-0.149440,0.105327
9236,-0.203916,0.484117,0.002114,0.174035,0.012916,-0.433593,0.159688,0.646530,-0.281818,-0.169006,...,0.702479,0.212297,0.319358,-0.126480,0.494227,0.268862,0.256209,-0.043727,-0.016836,0.111584
7224,-0.183938,-0.045302,-0.010720,0.203487,-0.129784,-0.663718,0.291985,0.733309,-0.432229,-0.454423,...,0.697859,0.387600,0.349154,-0.145718,0.604913,0.066355,0.149078,-0.122907,-0.018639,0.285643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,0.064375,0.250927,0.055482,-0.006912,0.168048,-0.778426,0.356022,0.732243,-0.171177,-0.463450,...,0.544697,0.216698,0.055145,-0.090183,0.449240,-0.057163,0.201551,-0.251598,0.016012,0.009730
2764,-0.055898,0.226543,-0.116740,0.351143,-0.068247,-0.435464,0.225150,0.613795,-0.439461,0.026816,...,0.843054,0.446696,0.265537,-0.099178,0.874757,0.343780,0.115688,-0.245604,-0.122272,0.205265
6954,0.002299,0.258901,0.009853,0.220514,-0.125482,-0.293439,0.230692,0.737884,-0.424258,-0.374955,...,0.711861,0.110338,0.237406,-0.060534,0.623733,0.447965,0.021224,-0.256977,0.024246,-0.019882
5972,-0.579185,0.060249,-0.094402,0.497553,-0.319138,-0.669988,0.360720,0.722703,-0.599463,-0.381949,...,0.762916,-0.261583,0.053253,-0.042555,0.460471,0.353919,0.446006,-0.447854,0.216660,-0.089853
6475,-0.283491,0.304585,0.141036,0.128971,-0.036125,-0.522113,0.249434,0.773833,-0.293127,-0.473507,...,0.490194,0.137843,0.188588,0.030989,0.733138,0.202223,0.238810,-0.120598,-0.081652,0.170324

In [83]:
from sklearn.ensemble import RandomForestClassifier

In [93]:
nm=RandomForestClassifier(n_estimators=100).fit(xtrain,ytrain)

In [94]:
from sklearn.metrics import classification_report

In [95]:
trainpredt=nm.predict(xtrain)
print(classification_report(trainpredt,ytrain))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3187
           1       1.00      1.00      1.00      6413

    accuracy                           1.00      9600
   macro avg       1.00      1.00      1.00      9600
weighted avg       1.00      1.00      1.00      9600

In [96]:
testpredt=nm.predict(xtest)
print(classification_report(testpredt,ytest))

              precision    recall  f1-score   support

           0       0.53      0.69      0.60       620
           1       0.88      0.78      0.83      1780

    accuracy                           0.76      2400
   macro avg       0.70      0.74      0.71      2400
weighted avg       0.79      0.76      0.77      2400

### bag of words and TFIDF

In [99]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [100]:
bow=CountVectorizer()
tf=TfidfVectorizer()

In [134]:
newdf

                                              reviewText  rating
0      jace rankin may short nothing mess man hauled ...       1
1      great short read want put read one sitting sex...       1
2      start saying first four book expecting conclud...       1
3      aggie angela lansbury carry pocketbook instead...       1
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire jena ian another vampi...       1
11996  read seven book series apocalyptic adventure o...       1
11997  book really cuppa situation man capturing woma...       1
11998  tried use charge kindle even register charging...       0
11999  taking instruction look often hidden world sex...       1

[12000 rows x 2 columns]

In [145]:
xtrain,xtest,ytrain,ytest=train_test_split(newdf['reviewText'],newdf['rating'],train_size=0.8)

In [146]:
xtrain.shape

(9600,)

In [147]:
xtest.shape

(2400,)

In [148]:
xtrain_bow = bow.fit_transform(xtrain)
xtest_bow = bow.transform(xtest)

xtrain_tf=tf.fit_transform(xtrain)
xtest_tf=tf.transform(xtest)

In [151]:
from sklearn.naive_bayes import MultinomialNB

In [152]:
modelB=MultinomialNB().fit(xtrain_bow,ytrain)
modelT=MultinomialNB().fit(xtrain_tf,y_train)

In [153]:
trainpredt=modelB.predict(xtrain_bow)
print(classification_report(trainpredt,ytrain))

              precision    recall  f1-score   support

           0       0.88      0.84      0.86      3329
           1       0.92      0.94      0.93      6271

    accuracy                           0.91      9600
   macro avg       0.90      0.89      0.90      9600
weighted avg       0.91      0.91      0.91      9600

In [156]:
testpredt=modelB.predict(xtest_bow)
print(classification_report(testpredt,ytest))

              precision    recall  f1-score   support

           0       0.73      0.76      0.75       776
           1       0.88      0.87      0.88      1624

    accuracy                           0.83      2400
   macro avg       0.81      0.82      0.81      2400
weighted avg       0.84      0.83      0.83      2400

In [157]:
trainpredt=modelT.predict(xtrain_tf)
print(classification_report(trainpredt,ytrain))

              precision    recall  f1-score   support

           0       0.00      0.33      0.01        27
           1       1.00      0.67      0.80      9573

    accuracy                           0.67      9600
   macro avg       0.50      0.50      0.40      9600
weighted avg       0.99      0.67      0.80      9600

In [158]:
testpredt=modelT.predict(xtest_tf)
print(classification_report(testpredt,ytest))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.66      0.80      2400

    accuracy                           0.66      2400
   macro avg       0.50      0.33      0.40      2400
weighted avg       1.00      0.66      0.80      2400

C:\Users\aksha\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1517: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\aksha\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1517: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\aksha\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1517: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))